.container {
    padding: 0.5rem 2rem;
    border-radius: 100px;
    background: #e6e6e6;
    color: #666666;
    margin-bottom: 16px;
    font-size: 1.1rem;
}

.container a {
    color: #666666;
    text-decoration: underline;
}
